#projetos, .container_projetos {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-menu-inicio);
  gap: 3rem;
  padding-bottom: 2rem;
}


.column_projeto {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1150px;
  min-height: 480px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--color-background-projetos-gradient);
}

.projeto_column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.projeto_img {
  display: flex;
  width: 100%;
  max-width: 575px;
  height: 100%;
  justify-content: start;
  align-items: center;
  position: relative;
  left: 10px;
}

.projeto_img img {
  width: 100%;
  max-width: 480px;
  height: 100%;
  border-radius: 10px;
}

.projeto_img img:hover {
  border: 3px solid red;
}

.text_projeto {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 500px;
  justify-content: start;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  color: var(--color-menu);
}

.text_projeto h4 {
  font-size: 18px;
  font-weight: bolder;
}

.text_projeto p {
  font-weight: 450;
}

.habilidades_projetos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.habilidades_projetos p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100px;
  height: 100%;
  min-height: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  background-color: var(--color-sombra-foto);
}